# Объектные файлы и исполняемые файлы
*.o        
*.out       
/a.out       # Исполняемый файл по умолчанию для GCC

/build/

# CodeLite (или похожие IDE)
*.codelite
*.workspace  # Файлы рабочего пространства
Server.workspace
*.project    # Файлы проекта
*.user       # Настройки пользователя/макета
/Server/*.project
/Server/*.clangd
/Server/*.clang-format

# Файлы, создаваемые системами контроля версий (например, vim)
*~
# Файлы редакторов
\#*
# Резервные копии
.*.swp
